$colors: (primary: #324e7e,
  primaryTint: '##304B87',
  primaryFade: '#F0F5F9',
  primaryFade2: '#979EB5',
  warning: '#F2994A',
  success: '#00BA88',
  danger: '#FF0000',
  dark: '#4F4F4F',
  light: 'rgba(255, 255, 255, 0.2)',
  white: '#FFFFFF',
  red: #E11D74,
  darkRed:#DC5A5F,
  green: #91D18B,
  lightBlue :#172C51,
  gray:#979EB5,
  black:#000000);