$medias: (
  mobile: 768px,
  tablet: 992px,
  desktop: 1024px,
  LgDesktop:1300px,
  xLDesktop:1500px
);
@mixin mobile {
  @media (max-width: map-get($medias, mobile) - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: map-get($medias, mobile)) and (max-width: map-get($medias, tablet)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: map-get($medias, tablet)) and (max-width: map-get($medias, desktop)) {
    @content;
  }
}
@mixin large {
    @media (min-width: map-get($medias, desktop)) and (max-width: map-get($medias, LgDesktop)) {
      @content;
    }
  }
@mixin xtralarge {
    @media (min-width: map-get($medias, LgDesktop)) and (max-width: map-get($medias, xLDesktop)) {
        @content;
    }
}