@import '../../../styles/colors.scss';

.button-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
}
.flat-button {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--color-primaryFade2);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  text-transform: uppercase;
}
.btn:hover {
  color: var(--color-white);
}
.buttonIcon {
  width: 20px;
  height: 20px;
}
