// .camera-input {

//   border: 2px dashed var(--color-gray);
//   padding: 10% 3% 3%;
//   border-radius: 5%;
//   background-color: var(--color-primaryFade);
// }

// .preview {
//   border-radius: 10px;
// }

.camera-input {
  border: 2px dashed var(--color-gray);
  padding: 10% 3% 3%;
  border-radius: 5%;
  line-height: 2;
  background-color: var(--color-primaryFade);
}

.preview {
  width: 143px;
  height: 157px;
}